doctype html
html
	head
		title Propeller TV
		script(type="text/javascript", src="/js/lib/jquery.js")
		script(type="text/javascript", src="/js/main.js")
	body
		div.container
			h1 Video
			div= video.name
			div= video.intro
			div= video.cover
			div= video.video
			if member != undefined
				if collected == 0
					div: a(href="/collect/"+video.id) Save to collection
				else
					div: a(href="/uncollect/"+video.id) Remove from collection

			if member != undefined && member.local.email == "taoxh@hotmail.com"
				form(action="/edit/"+video.id method="post" accept-charset="utf-8")
					label(for="name") Name
					input(type="text" name="name" value=""+video.name)
					label(for="cover") Cover
					input(type="text" name="cover" value=""+video.cover)
					label(for="intro") Introduction
					textarea(cols="40" rows="6" name="intro") #{video.intro}
					label(for="video") Video
					input(type="text" name="video" value=""+video.video)
					input(type='submit')